@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}
.125_216 { 
	width:100%
	overflow: hidden; /* Hide scrollbars */
}
/*. Media*/
@media (max-width: 1020px) {
	.e125_219, .e125_220, .e125_221, .e125_228, .e125_229, .search {
	 visibility: hidden;
	}
}
@media (min-width: 1021px) {
	
	}
}
.e125_216 { 
	width:100%px;
	height:60vh;
	overflow: hidden;
	position:center;
}
@media (max-width: 1020px){
    .e125_218{
		background-image: url(/images/10ea51d36d31d578d73431985cee2b80.jpg);
		overflow: hidden;}
		z-index: 0;
}

@media (min-width:1021px){
    .e125_218 {
		background-image: url(/images/selena_gomez_singer_photoshoot_girl_uhdpaper_com_hd_4_1.png);
		background-size: cover;
		height: 100%;
		max-height: 1440px;
		overflow: hidden;
	}
}
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body {
  background-color: #3c3c3c;
  padding: 50px 0;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}
  
.e125_218 { 
	background-color: rgba(128, 255, 0, 0);
	width:100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	background-repeat: no-repeat;
	position:absolute;
	left:0px;
	top:0px;
}
.e125_219 { 
	background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.8999999761581421) 0%,rgba(0, 0, 0, 0) 100%) ;
	width:100%;
	height:172px;
	position:center,fixed;
	left:0px;
	top:0px;
}
.e125_220 { 
	width:659px;
	height:102px;
	position:absolute;
	left:630px;
	top:36px;
}
.e125_221 { 
	width:502px;
	height:45px;
	position:absolute;
	left:68px;
	top:57px;
}
.e125_222 { 
	color:rgba(255, 255, 255, 1);
	width:auto;
	height:38px;
	position:absolute;
	left:0px;
	top:10px;
	font-family:Quicksand;
	text-align:center;
	font-size:calc(12px + 0.8vw);
	letter-spacing:1;
}
.e125_223 { 
	color:rgba(255, 255, 255, 1);
	width:auto;
	height:38px;
	position:absolute;
	left:247px;
	top:10px;
	font-family:Quicksand;
	text-align:center;
	font-size:calc(12px + 0.8vw);
	letter-spacing:1;
}
.e125_224 { 
	color:rgba(255, 255, 255, 1);
	width:auto;
	height:38px;
	position:absolute;
	left:396px;
	top: 10px;
	font-family:Quicksand;
	text-align:center;
	font-size:calc(12px + 0.8vw);
	letter-spacing:1;
}
.e125_225 { 
	color:rgba(255, 255, 255, 1);
	width:700px;
	height:30px;
	position:absolute;
	left:0;
	top: 0.05px;
	font-family:Text Me One;
	text-align:center;
	font-size:3.38rem;
	letter-spacing:29.8px;
}
.e125_226 { 
	width:150.78564453125px;
	height:31.558822631835938px;
	position:absolute;
	left:1697.7142333984375px;
	top:75.73333740234375px;
}
.125_227 { 
	border:2.0799999237060547px solid rgba(255, 255, 255, 1);
}
.e125_227 { 
	width:30px;
	height:31.555557250976562px;
	position:absolute;
	left:0px;
	top:0px;
}
.e125_228 { 
	background-image: url(images/Vector.png);
	width:30px;
	height:31.555557250976562px;
	position:absolute;
	left:62.142860412597656px;
	top:0px;
}
.125_228 { 
	border:2.0799999237060547px solid rgba(255, 255, 255, 1);
}
.e125_229 { 
	background-image: url(images/shopping\ bag.png);
	background-size: auto;
	background-repeat: no-repeat;
	width:32.5px;
	height:31.558853149414062px;
	position:absolute;
	left:124.28571319580078px;
	top:0px;
}
.e125_230 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:26.5px;
	height:22.091171264648438px;
	position:absolute;
	left:0.00005340576171875px;
	top:9.467681884765625px;
}
.125_230 { 
	border:2.0833332538604736px solid rgba(255, 255, 255, 1);
}
.125_231 { 
	border:2.0833332538604736px solid rgba(255, 255, 255, 1);
}
.e125_231 { 
	width:12.0013427734375px;
	height:14.201469421386719px;
	position:absolute;
	left:7.249366283416748px;
	top:0px;
}
.e125_232 { 
	width: 100%;
	height: 80vh;
	position:fixed;
	left:0px;
	top: 93vh
}
.e125_233 { 
	background-color:rgba(0, 0, 0, 1);
	width:100%;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
}
.e125_235 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image: url(images/Tiktok.png);
	background-size: cover;
	background-repeat: no-repeat;
	width:28px;
	height:25.05923080444336px;
	position:absolute;
	left:34px;
	top: 27px;
}
.125_235 { 
	border:1.996354103088379px solid rgba(255, 255, 255, 1);
}
.e125_236 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image: url(images/Ig.png);
	background-size: cover;
	background-repeat: no-repeat;
	width:28px;
	height:26.2962646484375px;
	position:absolute;
	left:76.18px;
	top:27px;
}
.125_236 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e125_237 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image: url(images/Twitter.png);
	background-size: cover;
	background-repeat: no-repeat;
	width:32.28860855102539px;
	height:23.429685592651367px;
	position:absolute;
	left: 122.18px;
	top:27px;
}
.125_237 { 
	border:2px solid rgba(255, 255, 255, 1);
}

/* menu hover*/
a:hover {
	color: #D19C97;
	font-size: 220%;
	transform: translate(-5px,-2.5px);
	transition-duration: 200ms;
}

a:active {
	color: #D19C97;
}
a:link {
	text-decoration: none;
	transition-duration: 300ms;
}
* {
	width: 0px;
	top: -103px;
	left: 1680px;
  }
  
  .search {
	position: relative;
	width: 50px;
	height: 50px;
	transition: width 0.3s ease;
  }
  
  .search .input {
	background-color: #d19c9700;
	transform: translate(-100%);
	border: 0;
	border-radius: 30px;
	font-size: 1px;
	padding: 20px;
	height: 50px;
	width: 50px;
	transition: width 0.3s ease;
  }
  
  .btn {
	background-image: url(images/search.png);
	background-color: rgba(0, 0, 0, 0);
	background-position: center;
	border: 0;
	cursor: pointer;
	font-size: 24px;
	position: absolute;
	background-repeat: no-repeat;
	top: 0px;
	left: 5px;
	z-index: 3;
	height: 50px;
	width: 50px;
	transition: transform 0.3s ease;
  }
  
  .btn:focus,
  .input:focus {
	outline: none;
	transition: width 0.3s ease;
  }
  
  .search.active .input {
	background-color:#d19c97;
	font-size: 16px;
	width: 250px;
	transition: width 0.3s ease;
 }
.search.active .btn{
	background-image: url(images/search\ active.png);
    transform:translateX(0);
	transition: width 0.3s ease;
}
